/* userSignin.css */

/* Reset Styles for Common Elements */
*,
*:before,
*:after,
ul,
li,
a,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
image,
svg,
path,
g,
canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  list-style: none;
  position: relative;
}

/* Global Styles for HTML and Body */
html,
body {
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
}

/* Button Styles */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.12);
  background-color: #F2F8FF;
  text-transform: capitalize;
  cursor: pointer;

}

.button:hover,
.button:focus {
  transition: 0.15s ease-in-out;
}

/* Signin Container Styles */
.signin-container {
  width: 400px;
  height: auto;
  /* Adjust the height as needed */

  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 85vh;
}

.title {
  text-transform: capitalize;
  font-size: 2.6em;
  font-weight: 300;
  padding: 20px 0;
  padding-bottom: 10px;
  text-align: center;
}

/* Signin Button Styles */
/* Signin Button Styles */
.signin-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 40%;
  padding: 20px 15px;
  background-color: #007AFF;
  color: #000000;
  /* Black text color */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  /* Make the text bold */
  margin: 40px auto;
  /* Center the button horizontally */
  display: block;
  /* Make the button a block element */
}



.signin-button:hover,
.signin-button:focus {
  box-shadow: 0px 3px 20px 3px rgba(0, 122, 255, 0.3);
  background-color: #007AFF;
}

/* Fluid1 Input Styles */
.fluid1-input {
  width: 80%;
  height: 50px;
  max-width: 450px;
  margin-left: 50px;
}

.fluid1-input-bg {
  width: calc(100% - 10%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 5%;
  top: 0;
  color: #007AFF;
  font-weight: 400;
  font-size: 0.9em;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
}

.fluid1-input-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  will-change: transform, box-shadow;
  transition: 0.2s ease-in-out;
  background-color: #f1f3f4;
  margin-left: 10%;
}

.fluid1-input-input {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f1f3f4;
  font-size: 1.5em;
  padding: 2%;
  outline: none;
}

.fluid1-input-label {
  width: calc(100% - 10%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  font-size: 1em;
  left: 5%;
  top: 0;
  color: #007AFF;
  font-weight: 400;
  text-transform: capitalize;
  pointer-events: none;
  transition: transform 0.2s ease-in-out, font-size 0.2s 0.15s ease-in-out;
  will-change: transform, font-size;
}

/* Focus and Open Styles for Fluid1 Input */
.fluid1-input--focus .fluid1-input-holder {
  box-shadow: 0px 5px 20px 0px rgba(0, 12, 47, 0.3);
}

.fluid1-input--focus .fluid1-input-bg {
  transform: translateY(-40px);
  transition: 0.2s 0.2s ease-in-out;
}

.fluid1-input--focus .fluid1-input-label {
  transform: translateY(-30px);
}

.fluid1-input--open .fluid1-input-label {
  transform: translateY(-30px);
}


/* Signup Link Styles */
.signup-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  text-decoration: none;
  color: #007AFF;
  transition: color 0.3s;
}

.signup-link:hover {
  color: #0056b3;
}